html{
  scroll-behavior: smooth;
}

body{
  background-color: #FFFFFF;
  font-size: 20px;
  font-family: 'Bitter', serif;
}

.page_container{
  position: relative;
  min-height: 100vh;
}

.content_wrap{
  padding-top: 60px;    /* Footer height */
  padding-bottom: 60px;    /* Footer height */
}

.header {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 60px;            /* Footer height */
}

#header_logo{
  display: block;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  width: auto;
  height: 40px;
}

#footer_logo{
  display: block;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  width: auto;
  height: 40px;
}

.nav_container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 10px;
  padding-bottom: 10px;
}

nav{
  padding-top: 20px;
  padding-bottom: 20px;
}

nav ul{
  list-style-type: none;
  overflow: hidden;
  text-align: center;
  padding-top: 10px;
}

nav li{
  display: inline-block;
  flex: 1;
}

nav a{
  color: #4b4b4b;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 0.9em;
}

nav a:hover{
  text-decoration: underline;
}

nav a .active {
  text-decoration: underline;
}

.skip a{
  background: white;
  left: 0;
  padding: 6px;
  position: relative;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

.skip a:focus{
  position: absolute;
  top: 0;
  transition: auto;
}

nav ul li a.active-page{
  color: black;
  text-decoration: underline;
}

/* Beginning: for hero, not other pages */

#hero{
  position: relative;
  top: 10vh;
}

.tracking-in-expand-fwd {
	-webkit-animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
            transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
            transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}

.artistText{
  color: black;
  font-weight: bold;
}
/* End: for hero, not other pages */

/* Beginning: for other pages, not hero or about*/

#main{
  text-align: center;
  padding: 20px 5% 20px 5%;
}

#main h1{
  color: black;
  font-size: 2.5em;
  line-height: 1;
  padding-bottom: 30px;
}

#main p{
  color: #4b4b4b;
  font-size: 1em;
}

#parallax{
  background-attachment: fixed;
  background-image: url("../images/lightgray_marble.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  color: black;
  text-align: center;
  height: 480px;
  width: 100%;
}

/* End: for other pages, not hero or about*/

/* Beginning: for about.html */

#about_grid{
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 2;
  grid-row-gap: 30px;
}

#about_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: auto;
}

.about_grid_text{
  padding-left: 20px;
  padding-right: 20px;
}

.about_grid_text h1{
  color: black;
  font-size: 2.5em;
  line-height: 1;
  padding-top: 30px;
  padding-bottom: 30px;
}

.about_grid_text p{
  color: #4b4b4b;
  font-size: 1em;
}

/* End: for about.html */

/* Beginning: gallery page */

.gallery{
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 5px;
}

.gallery img{
  width: 100%;
}

.gallery img:hover{
  filter:drop-shadow(8px 8px 8px gray);
}

/* End: gallery page */

/* Beginning: contact page */

form{
  padding: 30px 5%;
  border-radius: 5px;
  margin: 20px;
}

fieldset{
  padding: 10px;
}

label{
  color: black;
  font-family: 'Bitter', serif;
  font-size: 18px;
}

input[type=text] {
  width: 70%;
  padding: 12px;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 20px;
  resize: vertical;
}

input[type=email], select, textarea {
  width: 70%;
  padding: 12px;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 20px;
  resize: vertical;
}

.form_submit {
  background: black;
  border: 1px solid black;
  color: white;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.form_submit:hover {
  background: white;
  color: black;
  border: 1px solid black;
}

.footer{
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;            /* Footer height */
}

/* End: contact page */

/* Beginning: MOBILE max width media query */

@media all and (max-width: 480px) {
  .nav_container > li {
    flex-basis: 100%;
  }
}

/* End: MOBILE max width media query */

/* Beginning: TABLET media query */
@media screen and (min-width: 680px) and (max-width: 770px){

  nav a{
    font-size: 1em;
  }

  #main{
    padding: 20px 10vw 20px 10vw;
  }

  #hero{
    top: 20vh;
  }

  #about_image{
    width: 60%;
  }

  .about_grid_image{
    padding-left: 10vw;
    padding-right: 10vw;
  }

  .about_grid_text{
    padding-left: 10vw;
    padding-right: 10vw;
  }

  .about_grid_text h1{
    color: black;
    font-size: 2.5em;
    line-height: 1;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .about_grid_text p{
    color: #4b4b4b;
    font-size: 1em;
  }

  .gallery{
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5px;
  }

}
/* End: TABLET screen media query */

/* Beginning: COMPUTER media query */
@media screen and (min-width: 770px){

  nav a{
    font-size: 1em;
  }

  #main{
    padding: 20px 10vw 20px 10vw;
  }

  #hero{
    padding-top: 50%;
  }

  /* Beginning: for about.html */

  #about_grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  #about_image{
    grid-column: 1;
    height: 353px;
    width: 277px;
    padding-top: 2vw;
    padding-bottom: 2vw;
  }

  #ND{
    grid-column: 1;
    height: 353px;
    width: 277px;
    padding-top: 2vw;
    padding-bottom: 2vw;
  }

  .flip-card {
    background-color: transparent;
    height: 398px;
    width: 355px;
    perspective: 1000px;
  }

  .flip-card-inner {
    position: relative;
    height: 353px;
    width: 277px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  .flip-card-back {
    height: 353px;
    width: 277px;
    transform: rotateY(180deg);
  }

  /* End: for about.html */

  .gallery{
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 5px;
  }

}
/* End: COMPUTER screen media query */

@media screen and (prefers-reduced-motion: reduce){
  html{
    scroll-behavior: auto;
  }

  .skip a{
    -webkit-transition: none;
    transition: none;
    z-index: 1;
  }

  .skip a:focus{
    top:0;
  }

  .tracking-in-expand-fwd{
    animation: none;
  }

  .flip-card:hover .flip-card-inner {
    transform: rotateY(0deg);
  }

  .flip-card-back {
    transform: rotateY(0deg);
  }
}
